# Ignore Composer dependencies
/vendor/

# Ignore cache and logs
/cache/
logs/
*.log

# Ignore PHPStorm and VSCode project files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled CSS, JavaScript, or other build files (if any)
dist/

# Ignore environment configuration files
.env

# Ignore backup and temporary files
*.bak
*.tmp
*.swp
*.swo

# for composer
composer.lock