# Ignore Composer dependencies
/vendor/

# Ignore cache and logs
/cache/
logs/
*.log

# Ignore PHPStorm and VSCode project files
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment configuration files
.env

# Ignore backup and temporary files
*.bak
*.tmp
*.swp
*.swo

# for composer
composer.lock

# nodeJS
node_modules/
package-lock.json