.card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(1.05);
  }
  .row{
    overflow: auto;
  }