.btn-primary {
  background-color: #e86767 !important;
  border: none !important;
  float: right;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
}
.btn-primary:hover {
  background-color: #e74f4f !important;
}
.ordinance-img {
  float: left;
}
.card {
  width: 400px !important;
  height: 100px !important;
  margin-bottom: 30px;
  border-radius: 20px !important;
  border: 1px solid black !important;
  transition: all 0.3s ease-in-out;
}
.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-text {
  font-size: 1.2rem;
}
.card-body {
  margin-left: 50px;
}
.card-body > .card-img {
  height: 100px !important;
  width: 100px !important;
  float: left !important;
}
.ordinance-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer !important;
  transform: scale(1.05);
}
