/** CUSTOM PROGRAM (FELL FREE TO CHANGE IT) **/

/** import rules **/
@import url("./modules/Login.module.css");
@import url("./modules/superadmin/Sidebar.module.css");
@import url("./modules/superadmin/Sidebar.module.css");

/** custom rules **/

* {
    font-family: "Lexend", sans-serif;
}

html,body {
    background: #e1e8f1;
}

body{
    display: block;
}

.content-area {
    margin-top: 100px;
    margin-left: 320px;
    padding: 1px;
    max-width: 2000px;
    background-color: #e1e8f1;
}
#content{
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    
    
}
.form-group{
    padding: 0 0 40px 0;
}
/* I-frame container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr auto; /* 1fr for text, auto width for iframe */
    /* align-items: center; Vertically center-aligns items */
    margin-top: 0;
  }
  
  .grid-container p {
    margin-right: 20px; /* Add space between text and iframe */
  }
/* file a case input type style */
input[type="text"]{
    border-radius: 6.5px;
    border: 1px solid #e1e8f1;
    box-sizing: border-box;
    width: 40%;

}
