/** CUSTOM PROGRAM (FELL FREE TO CHANGE IT) **/

/** import rules **/
@import url("./modules/Login.module.css");
@import url("./modules/superadmin/Sidebar.module.css");
@import url("./modules/superadmin/Sidebar.module.css");

/** custom rules **/

* {
    font-family: "Lexend", sans-serif;
}

html,body {
    background: #e1e8f1;
}

body{
    display: flex;
}

.content-area {
    margin-top: 100px;
    margin-left: 320px;
    flex: 1;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr auto; /* 1fr for text, auto width for iframe */
    /* align-items: center; Vertically center-aligns items */
    margin-top: 0;
  }
  
  .grid-container p {
    margin-right: 20px; /* Add space between text and iframe */
  }
  