.card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(1.05);
  }
  .ql-snow .ql-picker-options .ql-picker-item {
    font-family: attr(data-value);
  }
  &::before {
    content: attr(data-value) !important;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: attr(data-value) !important;
  }
  .ql-font-roboto {
    font-family: sans-serif;
  }
  .ql-font-monospace {
    font-family: monospace;
  }
  .ql-font-Arial {
    font-family: Arial;
  }
  .ql-font-ubuntu {
    font-family: "Ubuntu";
  }
  .ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: attr(data-value) !important;
  }
  .ql-picker-label::before {
    content: attr(data-value) !important;
  }
