.auth-tab-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.auth-divide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2rem;
    border-radius: 8px;
}

.auth-divide aside {
    background-color: #f8f9fa;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-divide aside h2 {
    font-size: 1.2em;
}