td {
    font-size: 2rem;
  }
  .table-container {
    max-height: 90%; /* Adjust the height as needed */
    border-radius: 10px;
    overflow-y: auto;
  }
.table {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}  
th {
    position: sticky;
    top: 0px;
    background: white;
  }